.git
.gitignore
.gitlab-ci.yml
.github
.dockerignore
Dockerfile
docker-compose*.yml
node_modules
npm-debug.log
.next
.env.local
.env.*.local
.vscode
.vs
.idea
*.swp
*.swo
*~
.DS_Store
.npm
.eslintcache
dist
build
coverage
.nyc_output
*.pem
*.key
bin
obj
.artifacts
Markdown
*.md
errors.txt
error*.txt
error*.html
.editorconfig
.editorconfig.user
*.http
.docker
.agents
start-terminals.cmd
run_*.bat
